name: 1. Workflow Test

on: 
  push:
    branches:
      - main 

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Step
        run: echo "Hello World! The workflow is ALIVE!"
